/* 1. Roboto Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@import "tailwindcss";

:root {
  --background: #F8F9FA;
  /* Purity UI Light Background */
  --foreground: #2D3748;
  /* gray-700 */
  --purity-teal: #4FD1C5;
  /* teal-300 */
  --purity-teal-hover: #38B2AC;
  /* teal-400 */
  --purity-gray-dark: #1f2733;
}

/* Removed Dark Mode Preferences for Forced Light Mode */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Roboto', sans-serif;
}